ul#nav_buttons {
    list-style-type: none;
    margin:0;
    padding:0;
    text-align:center;
}
ul#nav_buttons a {
    display:inline-block;
    padding:10px;           
}
ul#nav_buttons li{
    display:inline;
}
img#pic1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    margin-top: 50px;
    max-width: 400px;
    position: center;
}
table#projects_table {
    text-decoration: none;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}
table#projects_table th {
    text-decoration: none;
    border: 1px solid #dddddd;
    font-size: 20px;
}
table#projects_table td {
    text-decoration: none;
    height: 40px;
    border: 1px solid #dddddd;
    font-size: 18px;
}
ul#about {
    list-style-type: square;
    text-align:left;
    margin-left: 400px;
}
ul#contact {
    list-style-type: none;
    text-align: right;
    margin-right: 30px;
}
ul#contact li{
    display:inline;
    margin: 8px;
}